*::selection {
  background-color: var(--nibble-purple);
  color: var(--bs-white);
}

.nav-link {
  color: rgba(var(--nibble-dark-gray), 0.2);
}

.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--nibble-dark-gray);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bg-nibble-red {
  background-color: var(--nibble-red);
}

/* Custom Button */
.btn-purple {
  background-color: var(--nibble-purple);
}

.btn-purple:hover {
  background-color: var(--nibble-dark-purple);
}

/* Custom Button Outline */
.btn-outline-nibble-red {
  align-items: center;
  background-color: var(--bs-white);
  border: 1px solid var(--nibble-red);
  border-radius: 4px;
  display: flex;
  padding: 12px 40px;
}

.btn-outline-nibble-red img {
  margin-right: 8px;
  transition: filter 0.15s ease-in-out;
}

.btn-outline-nibble-red span {
  color: var(--nibble-red);
  font-size: 16px;
  font-weight: 400;
  transition: filter 0.15s ease-in-out;
}

.btn-outline-nibble-red:hover {
  background-color: var(--nibble-red);
}

.btn-outline-nibble-red:hover img {
  filter: brightness(0) invert(1);
}

.btn-outline-nibble-red:hover span {
  color: var(--bs-white);
}

/* Custom circle Decoration */
.circle-decoration {
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.circle-decoration.decoration-light-purple {
  background-color: var(--nibble-light-purple);
  left: -6px;
  top: -14px;
}

.circle-decoration.decoration-yellow {
  background-color: var(--nibble-yellow);
  right: -5px;
  top: 30px;
}

.circle-decoration.decoration-light-blue {
  background-color: var(--nibble-light-blue);
  left: -10px;
  top: 120px;
}

.circle-decoration.decoration-purple {
  background-color: var(--nibble-purple);
  right: -10px;
  top: -16px;
}

@media (min-width: 768px) {
  .circle-decoration {
    height: 45px;
    width: 45px;
  }

  .circle-decoration.decoration-light-purple {
    left: -40px;
  }

  .circle-decoration.decoration-yellow {
    left: -100%;
  }

  .circle-decoration.decoration-light-blue {
    left: auto;
    right: -35px;
    top: 120px;
  }

  .circle-decoration.decoration-purple {
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 1200px) {
  .circle-decoration.decoration-light-purple {
    left: -108px;
    top: -20px;
  }
  
  .circle-decoration.decoration-yellow {
    bottom: -25px;
    left: -58px;
    top: auto;
  }
  
  .circle-decoration.decoration-light-blue {
    right: -85px;
    top: 0;
  }
  
  .circle-decoration.decoration-purple {
    right: -48px;
  }
}

/* Custom Section */
.nibble-main-section {
  overflow: hidden;
  padding-top: 72px;
}

.nibble-contact-us {
  background-color: var(--nibble-bg-main);
  padding: 40px 5px;
}

.nibble-footer {
  background-image: url(../images/footer-gradient-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 25px 0;
}

@media (min-width: 768px) {
  .nibble-contact-us {
    padding: 80px 0;
  }

  .nibble-footer {
    background-image: url(../images/footer-gradient.jpg);
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
  }
}

/* Custom Text Color */
.text-nibble-primary {
  color: var(--nibble-dark-gray);
}

.text-nibble-dark-purple {
  color: var(--nibble-dark-purple);
}

.text-nibble-dark-purple {
  color: var(--nibble-dark-purple);
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

@media (min-width: 768px) {
  .fs-md-8 {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  .fs-xl-6 {
    font-size: 16px;
  }
}

/* Custom Input Form */
.form-custom-height {
  height: 48px;
}

a {
  text-decoration: none;
}
